################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CADApp.vcxproj.filters
/CADApp.vcxproj
/CADApp.vcxproj.user
/Debug/CADApp.tlog
/Debug
